<div class="content">
    <h1>Megerősítő kód</h1>
    <a class="linkToConfirm" href="{{URL_PATH}}email-confirm/{{confirmationCode}}">Itt tudod megerősíteni</a><br>
    <p>Ha nem működik, másold be a keresősávba:</p>
    <small >{{URL_PATH}}email-confirm/{{confirmationCode}}</small>
    <h5>A kód {{EMAIL_TOKEN_EXPIRESIN}} percig érvényes!</h5>
</div>